.app{
    color: blue;
    text-align: center;
    margin: 15%;
    font-size: 30px;
}

body {
    background-color: whitesmoke;
}

.mypage-button{
    border: none;
    outline: none;
    background: transparent;
    color: blue;
    font-size: 30px;
}

a {
    text-decoration: none;
    color: blue;
}



